In [1]:
import pandas as pd
from dateutil.relativedelta import relativedelta

In [ ]:
df = pd.read_excel("../Datasets/Datasets1/DMnuovo.xlsx")

vado a caricare il mio set di dati all'interno di un dataframe pandas.

In [ ]:
for c in df['Birthdate']:
    if c.year>2010:
        f = pd.Timestamp(c)
        f = f - relativedelta(years=100)
        df['Birthdate'] = df['Birthdate'].replace(c,f)

ho iterato un ciclo che prende in unput un oggetto della colonna birthdate alla volta e, se l'anno di questa data risulta essere maggiore di 2010, allora a questa data verranno sottratti 100 anni per riportarlo alla normalità.

In [5]:
df

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmtSpent
0,1,539-84-9599,1944-10-26,78,East,0,62900,4,2080
1,2,444-05-4079,1932-01-01,67,West,1,23300,0,0
2,3,418-18-5649,1973-08-17,25,East,1,48700,8,3990
3,4,065-63-3311,1947-08-02,51,West,1,137600,2,920
4,5,059-58-9566,1948-10-03,50,East,0,101400,2,1000
...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,1965-09-28,33,West,0,71800,2,970
1496,1497,638-19-2849,1930-07-31,68,South,0,121100,5,2540
1497,1498,670-57-4549,1954-07-21,44,North,1,64000,4,2160
1498,1499,166-84-2698,1966-10-30,32,South,0,91000,6,2910
1499,1500,366-03-5021,1934-09-23,64,South,0,121400,1,530

In [6]:
for c in df['CredCardUser']:
    if c!=0 and c!=1:
        print(c)

ho controllato che tutti i campi di credcarduser fossero valori 0 o 1.

In [6]:
for c in df['Purchases']:
    if c == 9999:
        df['Purchases'] = df['Purchases'].replace(c,None)

vado a modificare i valori non validi (9999), con il valore null momentaneamente, per andarmi a calcolare la media dei valori restanti

In [7]:
df['Purchases'].mean()

2.948717948717949

ho quindi calcolato la media della colonna con i valori dei Purchases, e lo vado a sostituire ai null inseriti precedentemente

In [8]:
for c in df['Purchases']:
    if c == None:
        df['Purchases'] = df['Purchases'].replace('None',3)

in questo modo abbiamo rimpiazzato i precedenti valori none, con la media approssimata per eccesso.

In [9]:
nazioni = ['West','North','South','East']

for c in df['Region']:
    if c not in nazioni:
        momentanea = c.replace(" ","")
        df['Region'] = df['Region'].replace(c,momentanea)

ho definito una lista con le regioni senza gli spazi e faccio in modo che, quando troverò una regione con degli spazi, quindi formattata male, elimini gli spazi dalle stringhe, e che me le rimpiazzi senza, infatti :

In [10]:
for c in df['Region']:
    if c not in nazioni:
        print(c)

non mi stampa nulla dato che nessuna regione è formattata male

vado ora a verificare che i valori degli SSN siano tutti diversi tra loro, vado infatti a contare i valori unici

In [11]:
print(df['SSN'][df['SSN'].duplicated()])

463    680-00-1375
617    283-42-4994
Name: SSN, dtype: object

Possiamo vedere come ci siano degli SSN uguali tra loro, andando ad elencare i duplicati della colonna SSN. Vado in questo caso ad eliminare i valori dato che non so se devo farlo o meno.

Salvo gli indici dei valori in una lista

In [12]:
valori_da_eliminare = df['SSN'][df['SSN'].duplicated()].index

vado ad eliminare le righe che corrispondono agli indici salvati.

In [13]:
df.drop(valori_da_eliminare, inplace=True)

ho così eliminato le due righe che corrispondevano a quei determinati indici, dove vi erano gli SSN duplicati

In [14]:
print(df['SSN'][df['SSN'].duplicated()])

Series([], Name: SSN, dtype: object)

se infatti andiamo a rieseguire questa istruzione vediamo che non ci sono SSN duplicati.

ora andiamo a far si che tutte le età che per sbaglio sono state scritte negative, siano riportate come normali

In [15]:
for c in df['Age']:
    if c<0:
        f = c*-1
        df['Age'] = df['Age'].replace(c,f)

abbiamo fatto si che le età fossero riportate come dovrebbero.

possiamo adesso esportare il file finito, con i dati ripuliti in excel o qualsivoglia formato.

In [16]:
df.to_excel("DatiRipuliti.xlsx")